<!DOCTYPE html>
<html>

<head>
  <title>title</title>
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <main class="container text-center">
    <div class="col-md-4" style="margin:auto">
      <h3>新規登録</h3>
      <form action="/user/register" method="post" class="form">
        UserName:<input type="text" class="form-control" name="name"><br>
        Pass:<input type="password" class="form-control" name="pass"><br>
        <div><input type="submit" value="新規登録" class="btn btn-success" style="width:100%"></div>
      </form>
    </div>
  </main>
</body>

</html>