#board{
  position            : relative;
}

.cell
{
  position            : relative;
  top                 : 1px;
  left                : 1px;
  width               : 45px;
  height              : 45px;
  background-color    : #43A047;
}

.square
{
  position            : absolute;
  width               : 47px;
  height              : 47px;
  line-height         : 47px;
  background-color    : #000000;
}

.block
{
  display             : block;
  position            : relative;
  top                 : 1px;
  left                : 1px;
  width               : 45px;
  height              : 45px;
  background-color    : #43A047;
}

.board-squea{
  height              : 360px;
  width               : 360px;
  margin              : auto;
  margin-top          : 20px;
}

ul {
  list-style          : none;
}

#white{
  font-size           : 38px;
  color               : white;
}

#black{
  font-size           : 38px;
  color               :black;
}

#finish{
  width               : 160px;
  height              : 45px;
  margin-top          : 30px;
}

#input_msg{
  width               : 320px;
  margin-left         : 40px;
}
.white-icon{
  font-size           : 38px;
  color               : white;
  margin-left         : 20px;
}
.black-icon{
  font-size           : 38px;
  color               : black;
  margin-right        : 20px;
}
.vs{
  margin-left         : 20px;
  margin-right        : 20px;
}

.text{
  color               : #444242;
}
#result{
  font-size           : 20px;
  color               : red;
}